<a href="https://colab.research.google.com/github/KunalSharma2001/Data-Analysis-Projects/blob/main/NYC_Airbnb_DataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import numpy as np
import pandas as pd

In [4]:
nyc_logs = pd.read_csv("/content/AB_NYC_2019.csv")
nyc_logs.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3.0,0.0,NaN,NaN,1.0,365.0
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1.0,194.0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.10,1.0,0.0

In [5]:
nyc_logs.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
14879,11801984,"Bright, contemporary and best location.",24232061,Tracy,Manhattan,Upper East Side,40.77189,-73.95540,Private room,122.0,9.0,12.0,2018-10-27,0.32,3.0,160.0
14880,11802086,5 rooms in clean apartment /West Harlem,62852828,Latrisha,Manhattan,Harlem,40.82443,-73.95265,Entire home/apt,400.0,3.0,2.0,2018-05-11,0.06,2.0,88.0
14881,11803487,Home 4 Medical Professionals-Brooklyn Hospital,26377263,Stat,Brooklyn,Fort Greene,40.68906,-73.97763,Private room,54.0,30.0,0.0,NaN,NaN,43.0,361.0
14882,11803893,Home 4 Medical Professionals-LIU,26377263,Stat,Brooklyn,Fort Greene,40.69006,-73.98056,Private room,54.0,30.0,0.0,NaN,NaN,43.0,361.0
14883,11804245,Home 4 Medical Professionals-Methodist Hospital,26377263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
nyc_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14884 entries, 0 to 14883
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14884 non-null  int64
 1   name                            14872 non-null  object
 2   host_id                         14884 non-null  int64
 3   host_name                       14871 non-null  object
 4   neighbourhood_group             14883 non-null  object
 5   neighbourhood                   14883 non-null  object
 6   latitude                        14883 non-null  float64
 7   longitude                       14883 non-null  float64
 8   room_type                       14883 non-null  object
 9   price                           14883 non-null  float64
 10  minimum_nights                  14883 non-null  float64
 11  number_of_reviews               14883 non-null  float64
 12  last_review                     12428 non-null  object
 13  reviews_per_month               12428 non-null  float64
 14  calculated_host_listings_count  14883 non-null  float64
 15  availability_365                14883 non-null  float64
dtypes: float64(8), int64(2), object(6)
memory usage: 1.8+ MB

# Insights
---
There are 15 columns and about 48894 rows in the given dataset.
According to the .info()
The NaN/Null values in the data are:
1. Name
2. Host-Name
3. Last-Review
4. Reviews-per-month

Reasons for the missing values:
1. The host or the person might have forgetten to enter the values in the dataset.
2. Hardware or Software Errors in the collecion may affect the data.

---
Therefore, we can either remove these rows or we can fill them with the mean values of the column.

# **Identifying and Replacing the Missing Values**

In [7]:
print("Rows with missing values for Name")
print(nyc_logs['name'].isnull().value_counts())
print("\n")
print("Rows with missing value for Host_Name")
print(nyc_logs['host_name'].isnull().value_counts())
print("\n")
print("Rows with missing value for Last_Review")
print(nyc_logs['last_review'].isnull().value_counts())
print("\n")
print("Rows with missing values with Reviews_Per_Month")
print(nyc_logs['reviews_per_month'].isnull().value_counts())

Rows with missing values for Name
False    14872
True        12
Name: name, dtype: int64


Rows with missing value for Host_Name
False    14871
True        13
Name: host_name, dtype: int64


Rows with missing value for Last_Review
False    12428
True      2456
Name: last_review, dtype: int64


Rows with missing values with Reviews_Per_Month
False    12428
True      2456
Name: reviews_per_month, dtype: int64

# **Replacing Missing Values**

In [8]:
nyc_logs['reviews_per_month'] = nyc_logs['reviews_per_month'].fillna(0.0)
nyc_logs.head(20)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3.0,0.0,NaN,0.00,1.0,365.0
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1.0,194.0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.10,1.0,0.0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200.0,3.0,74.0,2019-06-22,0.59,1.0,129.0
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60.0,45.0,49.0,2017-10-05,0.40,1.0,0.0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79.0,2.0,430.0,2019-06-24,3.47,1.0,220.0
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79.0,2.0,118.0,2017-07-21,0.99,1.0,0.0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150.0,1.0,160.0,2019-06-09,1.33,4.0,188.0
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135.0,5.0,53.0,2019-06-22,0.43,1.0,6.0
11,5441,Central Manhattan/near Broadway,7989,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85.0,2.0,188.0,2019-06-23,1.50,1.0,39.0
12,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89.0,4.0,167.0,2019-06-24,1.34,3.0,314.0
13,6021,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85.0,2.0,113.0,2019-07-05,0.91,1.0,333.0
14,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120.0,90.0,27.0,2018-10-31,0.22,1.0,0.0
15,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140.0,2.0,148.0,2019-06-29,1.20,1.0,46.0
16,7097,Perfect for Your Parents + Garden,17571,Jane,Brooklyn,Fort Greene,40.69169,-73.97185,Entire home/apt,215.0,2.0,198.0,2019-06-28,1.72,1.0,321.0
17,7322,Chelsea Perfect,18946,Doti,Manhattan,Chelsea,40.74192,-73.99501,Private room,140.0,1.0,260.0,2019-07-01,2.12,1.0,12.0
18,7726,Hip Historic Brownstone Apartment with Backyard,20950,Adam And Charity,Brooklyn,Crown Heights,40.67592,-73.94694,Entire home/apt,99.0,3.0,53.0,2019-06-22,4.44,1.0,21.0
19,7750,Huge 2 BR Upper East Cental Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190.0,7.0,0.0,NaN,0.00,2.0,249.0

In [9]:
print(nyc_logs['reviews_per_month'].isnull().value_counts())

False    14884
Name: reviews_per_month, dtype: int64

In [13]:
nyc_logs['last_review'] = nyc_logs['last_review'].fillna('2016-12-31')
nyc_logs.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3.0,0.0,2016-12-31,0.00,1.0,365.0
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1.0,194.0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.10,1.0,0.0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200.0,3.0,74.0,2019-06-22,0.59,1.0,129.0
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60.0,45.0,49.0,2017-10-05,0.40,1.0,0.0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79.0,2.0,430.0,2019-06-24,3.47,1.0,220.0
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79.0,2.0,118.0,2017-07-21,0.99,1.0,0.0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150.0,1.0,160.0,2019-06-09,1.33,4.0,188.0

In [14]:
# Checking, any NULL values in the data
nyc_logs['last_review'].isnull().value_counts()

False    14884
Name: last_review, dtype: int64

# **Deleting the Missing Values from the Data**

In [15]:
nyc_logs['name'].isnull().value_counts()

False    14872
True        12
Name: name, dtype: int64

We deleted the NULL rows in Column 'Name', as there was no values for those rows, thus we cannot depict the name and thus the whole row is of no use.

In [16]:
nyc_logs.dropna(subset=['name'], inplace = True)
nyc_logs['name'].isnull().value_counts()
# Here we have deleted the NULL values from the column = 'name'.

False    14872
Name: name, dtype: int64

In [19]:
nyc_logs['host_name'].isnull().value_counts()

False    14859
True        13
Name: host_name, dtype: int64

In [21]:
nyc_logs.dropna(subset=['host_name'], inplace=True)
nyc_logs['host_name'].isnull().value_counts()

False    14859
Name: host_name, dtype: int64

False    14859
Name: host_name, dtype: int64

In [22]:
nyc_logs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14859 entries, 0 to 14882
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14859 non-null  int64
 1   name                            14859 non-null  object
 2   host_id                         14859 non-null  int64
 3   host_name                       14859 non-null  object
 4   neighbourhood_group             14859 non-null  object
 5   neighbourhood                   14859 non-null  object
 6   latitude                        14859 non-null  float64
 7   longitude                       14859 non-null  float64
 8   room_type                       14859 non-null  object
 9   price                           14859 non-null  float64
 10  minimum_nights                  14859 non-null  float64
 11  number_of_reviews               14859 non-null  float64
 12  last_review                     14859 non-null  object
 13  reviews_per_month               14859 non-null  float64
 14  calculated_host_listings_count  14859 non-null  float64
 15  availability_365                14859 non-null  float64
dtypes: float64(8), int64(2), object(6)
memory usage: 1.9+ MB

# **Correcting the format of Data**

In [26]:
nyc_logs['last_review'] = pd.to_datetime(nyc_logs['last_review'])

In [27]:
nyc_logs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14859 entries, 0 to 14882
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14859 non-null  int64
 1   name                            14859 non-null  object
 2   host_id                         14859 non-null  int64
 3   host_name                       14859 non-null  object
 4   neighbourhood_group             14859 non-null  object
 5   neighbourhood                   14859 non-null  object
 6   latitude                        14859 non-null  float64
 7   longitude                       14859 non-null  float64
 8   room_type                       14859 non-null  object
 9   price                           14859 non-null  float64
 10  minimum_nights                  14859 non-null  float64
 11  number_of_reviews               14859 non-null  float64
 12  last_review                     14859 non-null  datetime64[ns]
 13  reviews_per_month               14859 non-null  float64
 14  calculated_host_listings_count  14859 non-null  float64
 15  availability_365                14859 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(2), object(5)
memory usage: 1.9+ MB